# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd

# Virtual environment
venv/
*.egg-info/

# SQLite database files (if used)
*.db
*.sqlite3

# Flask instance-specific files
instance/

# Configuration and secret keys
*.env

# Logs
logs/
*.log

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows
